<%# application_helper.rb: render_bid_form %>

<%= render_ok_message %>

<div id="bid_form" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title medium" id="myModalLabel"><%= settings.form_title %></h4>
      </div>
      <div class="modal-body regular">

        <%= # noinspection RailsParamDefResolve
            form_for :bid,
                     :url => '/make_bid',
                     :remote => true,
                     html: {
                         multipart: true,
                         :role => :form,
                         :id => 'form_bid',
                         :data => {
                             :model => 'bid'
                         }
                     } do |f| %>
            <%= hidden_field_tag :authenticity_token, '', :value => form_authenticity_token %>
            <div class="form-group clearfix">
              <%= f.label :title, settings.form_label_name, class: 'control-label must' %>
              <%= f.text_field :title, class: 'form-control' %>
              <span class="help-block col-md-12"></span>
            </div>

            <div class="form-group clearfix">
              <%= f.label :phone, settings.form_label_phone, class: 'control-label must' %>
              <%= f.text_field :phone, class: 'form-control' %>
              <span class="help-block col-md-12"></span>
            </div>

            <div class="form-group clearfix">
              <%= f.label :photo, settings.form_label_photo, class: 'control-label must' %>
              <%= f.text_field :photo, :type => 'file', data: { preview_Type_File: 'text' }, class: 'form-control' %>
              <span class="help-block col-md-12"></span>
            </div>

            <div class="actions clearfix">
              <%= f.label ' ', class: 'control-label' %>
              <%= f.submit settings.form_label_button_send,
                           class: 'btn btn-success',
                           data: {
                               disable_with: settings.form_label_button_sending
                           }
              %>
            </div>

        <% end %>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn_close btn-default" data-dismiss="modal">Закрыть</button>
      </div>

    </div>
  </div>
</div>